<% provide(:title, "Updated Room") %>
<h1>Update Meeting Room</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@room) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :room_no %>
      <%= f.text_field :room_no %>

      <%= f.label :building %>
      <%= f.text_field :building %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>